.booking {
  padding: 50px 0;
  background: url("../img/booking/booking-desk.jpg") center/cover no-repeat;
}

.booking .container {
  display: flex;
  column-gap: 5%;

  @include vp-767 {
    flex-direction: column;
  }
}

.booking__inner {
  padding-left: 45px;

  & p {
    max-width: 360px;
  }
}

.booking form {
  padding: 50px;
  display: flex;
  width: 403px;
  background: $color-tangaroa;
  color: $color-alice-blue;
  flex-direction: column;

  @include vp-767 {
    width: 100%;
  }
}

.booking fieldset {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: none;
  padding: 0;
  margin-bottom: 25px;
}

.booking legend {
  margin-bottom: 35px;
}
