.catalog {
  padding: 95px 0 120px 0;

  & h2 {
    font-size: 28px;
    line-height: 42px;
    margin: 0 0 60px 0;
    text-align: center;

    @include vp-1023 {
      font-size: 26px;
      line-height: 39px;
    }

    @include vp-767 {
      font-size: 24px;
      line-height: 36px;
      margin: 0 0 40px 0;
    }
  }
}

.catalog__list {
  list-style-type: none;
  padding: 0 15px 0;
  margin: 0;
  color: $color-alice-blue;
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 260px));
  gap: 30px;

  @include vp-1023 {
    grid-template-columns: repeat(2, 1fr);
  }

  @include vp-767 {
    padding: 0 10px 0;
    grid-template-columns: 1fr;
  }
}

.catalog__item {
  position: relative;
  // height: 28.25vw;
  height: 31.25vw;
  max-height: 386px;
  background-color: $color-tangaroa;
  padding: 11% 10% 8.7%;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  @include vp-1023 {
    width: 40.2vw;
    height: 50.26vw;
    max-height: 50.26vw;
    padding: 29px 30px 27px;
  }

  @include vp-767 {
    width: 100%;
    height: 120.63vw;
    max-height: 120.63vw;
    padding: 29px 20px 17px;
  }

  & h3 {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    // order: -1;
    // margin-bottom: 20px;
    position: absolute;
    z-index: 40;
    bottom: 30px;
  }

  & p {
    margin: 0 0 3px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }

  & span:not(:last-child) {
    margin-bottom: 9px;
    display: block;
    font-size: 14px;
    line-height: 20px;
    color: $color-quartz;
  }
}

.catalog__link {
  background-color: $color-alice-blue;
  padding: 13px;
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  margin-top: auto;
  transition: opacity $trans-default;
}

.catalog__item img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  // display: none;
  display: block;
  z-index: 30;
}

.catalog__item {
  @include hover-focus {
    & img {
      display: none;
      z-index: -1;
    }

    & h3 {
      position: static;
      margin: 0 0 20px 0;
      order: -1;
    }
  }
}

.catalog__item a:focus-visible + picture {
  display: none;
}

.catalog__item a:focus-visible ~ h3 {
  position: static;
  margin: 0 0 25px 0;
  order: -1;
}

.catalog__content {
  overflow: auto;
  margin-bottom: 30px;
}
