.header {
  position: relative;
  overflow: hidden;
  padding-top: 35px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

  & img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -10;
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-color: $color-lochmara;
  }

  @include vp-1023 {
    filter: none;
    padding-top: 30px;
  }

  @include vp-767 {
    min-height: 500px;
    padding-top: 14px;
  }
}

.header .container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.header__link-logo {
  transition: opacity $trans-default;

  @include hover-focus {
    opacity: 0.8;
  }
}

.header__nav-list a {
  @include vp-767 {
    font-size: 18px;
    line-height: 22px;
  }
}

.header__logo-icon {
  width: 70px;
  height: 38px;
  fill: $color-alice-blue;

  @include vp-1023 {
    width: 38px;
    height: 20px;
  }

  @include vp-767 {
    width: 42px;
    height: 32px;
  }
}

.is-open .header__logo-icon {
  @include vp-767 {
    fill: $color-tangaroa;
  }
}

.is-open .header__link-logo {
  @include vp-767 {
    display: block;
    width: 42px;
    height: 32px;
    z-index: 7;
    position: relative;
    right: -12%;
    transform: translateY(17px);

    &::after {
      position: absolute;
      content: "";
      height: 70px;
      min-width: 240px;
      background-color: $color-alice-blue;
      top: -30px;
      left: -15px;
      z-index: -10;
    }
  }
}

.is-open .header__container {
  @include vp-767 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    width: 100%;
    background-color: rgba(0, 43, 102, 0.5);
    overflow-x: hidden;
  }
}

.is-nojs .header__container {
  @include vp-767 {
    flex-direction: column;
    gap: 20px;
  }
}

.header__toggle {
  display: none;

  @include vp-767 {
    display: block;
    position: relative;
    top: 4px;
    left: 3px;
    width: 30px;
    height: 30px;
    z-index: 6;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }
}

.is-close .header__toggle {
  @include vp-767 {
    &::before {
      content: "";
      position: absolute;
      top: 6px;
      left: 3px;
      width: 24px;
      height: 2px;
      background-color: $color-alice-blue;
      box-shadow: 0 6px 0 0 $color-alice-blue, 0 12px 0 0 $color-alice-blue;
    }
  }
}

.is-open .header__toggle {
  @include vp-767 {
    top: 19px;
    left: 7px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 13px;
      left: 8px;
      width: 15px;
      height: 2px;
      background-color: $color-tangaroa;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

.is-close .header__nav {
  @include vp-767 {
    display: none;
  }
}

.is-nojs {
  @include vp-767 {
    & .header__nav {
      display: block;
    }

    & .header__toggle {
      display: none;
    }
  }
}
