.header {
  overflow: hidden;
  padding-top: 35px;

  @include vp-1024 {
    background: url("../img/intro/intro-desk.jpg") center/cover no-repeat, $color-lochmara;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

    @include retina {
      background: url("../img/intro/intro-desk@2x.jpg") center/cover no-repeat, $color-lochmara;
    }
  }

  @include vp-500 {
    background: url("../img/intro/intro-tab.jpg") center/cover no-repeat, $color-lochmara;

    @include retina {
      background: url("../img/intro/intro-tab@2x.jpg") center/cover no-repeat, $color-lochmara;
    }
  }

  @include vp-499 {
    background: url("../img/intro/intro-mob.jpg") center/cover no-repeat, $color-lochmara;

    @include retina {
      background: url("../img/intro/intro-mob@2x.jpg") center/cover no-repeat, $color-lochmara;
    }
  }
}

.header .container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
}


.header__link-logo {
  transition: opacity $trans-default;

  @include hover-focus {
    opacity: 0.8;
  }
}

.header__logo-icon {
  width: 70px;
  height: 38px;
  fill: $color-alice-blue;

  @include vp-1023 {
    width: 38px;
    height: 20px;
  }

  @include vp-767 {
    width: 42px;
    height: 32px;
  }
}

.is-open .header__logo-icon {
  @include vp-767 {
    fill: $color-tangaroa;
  }
}

.is-open .header__link-logo {
  @include vp-767 {
    display: block;
    width: 42px;
    height: 32px;
    z-index: 7;
    position: relative;
    right: -12%;
    transform: translateY(20px);

    &::after {
      position: absolute;
      content: "";
      height: 70px;
      min-width: 240px;
      background-color: $color-alice-blue;
      top: -30px;
      left: -15px;
      z-index: -10;
    }
  }
}

.is-open .header__container {
  @include vp-767 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    width: 100%;
    background-color: rgba(0, 43, 102, 0.5);
    overflow-x: hidden;
  }
}

.is-nojs .header__container {
  @include vp-767 {
    flex-direction: column;
    gap: 20px;
  }
}
