.intro {
  padding-top: 210px;
  padding-bottom: 283px;

  & h2 {
    margin: 0 0 30px 0;
    color: $color-alice-blue;
    font-weight: 700;
    font-size: 54px;
    line-height: 66px;

    @include vp-1023 {
      margin: 0 0 29px 0;
      font-size: 50px;
      line-height: 61px;
    }

    @include vp-767 {
      font-size: 36px;
      line-height: 45px;
    }
  }

  & p {
    margin: 0;
    color: $color-alice-blue;
    font-size: 20px;

    @include vp-1023 {
      font-size: 18px;
      line-height: 22px;
    }

    @include vp-767 {
      font-size: 16px;
    }
  }
}
