.map {
  position: relative;

  & img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -10;
    object-fit: cover;
    width: 100%;
    height: 100%;

    @include vp-767 {
      object-fit: contain;
    }
  }
}

.map__canvas {
  width: 560px;
  height: 306px;
  border: 0;

  @include vp-1023 {
    width: 324px;
    height: 335px;
  }

  @include vp-767 {
    width: 100%;
    height: 316px;
  }
}
