.social {
  list-style-type: none;
  display: flex;
  padding: 0;
  gap: 20px;
}

// .social__icon {
//   fill: $color-tory-blue;
// }

.social a {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  min-height: 20px;
  cursor: pointer;
  // transition: opacity $trans-default;

  // @include hover-focus {
  //   opacity: 0.7;
  // }
}
