.social {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0;
  gap: 20px;
}

.social a {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  min-height: 20px;
  cursor: pointer;
  transition: opacity $trans-default;

  @include hover-focus {
    opacity: 0.8;
  }
}
